html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-image: url("imagens/bg.jpg");
}

* html #container {
	height: 100%; /* hack para IE6 que trata height como min-height */
}

#container {
	height: 100%;
	
	/*background-color: #f00;*/
}

#left {
	position: relative;
	width: 20%;
	min-height: 100%;
	float: left;
	
	/*background-color: #0f0;*/
	text-align: center;
}

#left h1 {
	width: 100%;
	height: 296px;
	
	background-image: url("imagens/logo.png");
}

#left h1 span {
	display: none;
}

#left nav {
	font-family: sans-serif;
	color: #fff;
}

#left nav a {
	text-decoration: none;
	font-family: sans-serif;
	color: #fff;
}

#left nav a:hover {
	text-decoration: underline;
}

#left section {
	padding-bottom: 30px;
}

#left footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	
	font-family: sans-serif;
	font-size: 10px;
	color: #fff;
}

#right {
	width: 80%;
	min-height: 100%;
	float: right;
	
	background-color: #fff;
	opacity: 0.8;
}

#right section, #right h2 {
	margin: 20px;
}

.clear {
	clear: bolt;
}

h2, p, form, input, select, textarea, td {
	color: #4B0082;
	font-family: sans-serif;
}

h2 {
	text-transform: uppercase;
	font-size: 40px;
}

input, select, textarea {
	width: 100%;
	padding: 5px;
}

textarea {
	height: 50px;
}

table {
	width: 100%;
}

th {
	padding: 5px;
	
	background-color: #4B0082;
	color: #ffffff;
}

td {
	border-bottom: 1px solid #4B0082;
}